<h1><%= @cocktail.name %></h1>
<p> Below the details:</p>
<% @doses.each do |dose| %>
<%= dose.description %>
<%= dose.ingredient.name %>
<%= link_to "delete", dose_path(dose), method: :delete %>
<% end  %>

<p><%= link_to "home", cocktails_path %></p>
<p><%= link_to "edit this cocktail", edit_cocktail_path(@cocktail) %></p>
<p><%= link_to "add a dose", new_cocktail_dose_path(@cocktail) %></p>
