<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://blog.lecarnetdesbars.fr/wp-content/uploads/2016/01/bar-redwood-lyon-e1453315751601.jpg');">

  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
  </div>

</div>


<p> Below the details:</p>
<% @doses.each do |dose| %>
<ul>
  <li>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <%= link_to "delete", dose_path(dose),
    method: :delete,
    data: { confirm: "Are you sure you want to delete the dose ?"} %>
  </li>
  <% end %>
</ul>


<p><%= link_to "home", cocktails_path %></p>
<p><%= link_to "edit this cocktail", edit_cocktail_path(@cocktail) %></p>

<h1>Create a new Dose!</h1>

<%=simple_form_for [@cocktail,@dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: @ingredients %>
  <%= f.submit "submit!", class: "btn btn-primary" %>
<% end %>


